<div class="card">
    <div class="content">
        <div class="img-cont">
            <img [src]="phoneImg" alt="">
        </div>
        <div class="name">  
            {{ phone.name }}
        </div>
        <div class="price">
            {{ phone.price | seprator }} ₽
        </div>
        <div class="card-line">
            <div class="add-basket"
                (click)="addToBasket()"
            >
                Добавить в корзину
            </div>
            <div class="like">
                <like [phone]="phone"></like>
            </div>
        </div>
    </div>
</div>