<div class="card">
    <div class="content">
        <div class="img-cont">
            <img [src]="imgHost + phone.image" alt="">
        </div>
        <div class="name">  
            {{ phone.name }}
        </div>
        <div class="price">
            {{ phone.price | seprator }} ₽
        </div>
        <div class="card-line">
            <div class="add-basket">
                Добавить в корзину
            </div>
            <div class="like-icon"
                [ngClass]="hoveredLike ? 'hover':''"
            >
                <img 
                    src="../../../assets/icons/like.svg" 
                    class="not-activated" 
                >
                <img
                    src="../../../assets/icons/hovered-like.svg"
                    class="activated"
                >
            </div>
        </div>
    </div>
</div>