<div class="container">
    <button class="close" (click)="close()">
        <img src="../../../assets/icons/close.svg">
    </button>
    <div class="modal">
        <div class="list">
            <div *ngIf="wishList.length > 0; else emptyList">
                <wish-item-short
                    *ngFor="let wishElId of wishList"
                    [wishId]="wishElId"
                ></wish-item-short>
            </div>
            <ng-template #emptyList>
                <div class="empty-el">
                    Ваш Список желаний пуст. Добавьте Iphone из 
                    <a 
                        routerLink="/home"
                        (click)="close()"
                    >Каталога</a>  
                </div>
            </ng-template>    
        </div>
    
        <div class="redirect"
            (click)="redirect()"
        >
            Посмотреть ещё
        </div>
    </div>
</div>
