@import "../../../variables.sass"
@import "../../../mixins.sass"

.container
    width: 100%
    display: flex
    justify-content: center
    .close
        border-width: 0px
        outline: none
        position: absolute
        top: 40px
        right: 40px
        height: 50px
        width: 50px
        cursor: pointer
        transition: 0.4s
        border-radius: 0px
        &:hover
            background: #eeccee
            border-radius: 8px
            transform: scale(1.1)
        img
            height: 100%
            width: 100%
    .modal 
        z-index: 1550
        height: 100%
        width: 100%
        position: relative
        background: white
        display: flex
        justify-content: center
        align-items: center
        @include mobile
            width: 100%
            height: 500px
        .content
            width: 640px
            height: 350px
            display: flex
            @include mobile
                width: 90%
                height: 460px
                flex-direction: column
            .img-cont
                height: 100%
                width: 300px
                position: relative
                display: flex
                justify-content: center
                @include mobile
                    margin: 0px auto
                    width: 130px
                    height: auto
                img 
                    height: 100%
                    width: auto
                    @include mobile
                        width: 100%
                        height: auto
            .info-cont
                width: calc(100% - 300px)
                position: relative
                @include mobile
                    width: 100%
                .name
                    font-family: 'graphik-medium'
                    font-size: 24px
                    color: #404040
                    line-height: 26px
                    @include mobile 
                        margin-top: 15px
                .cols 
                    margin-top: 30px
                    display: flex
                    width: 100%
                    height: 120px
                    justify-content: space-between
                    @include mobile
                        margin-top: 0px
                    .col 
                        &.col-1
                            width: 150px
                        &.col-2
                            width: calc(100% - 170px)
                        .col-el
                            margin-top: 20px
                            font-family: 'graphik-medium'
                            font-size: 22px
                            height: 50px
                            display: flex
                            align-items: center
                            .counter
                                width: 150px
                                height: 100%
                                display: flex
                                .el
                                    user-select: none
                                    font-size: 20px
                                    display: flex
                                    justify-content: center
                                    align-items: center
                                    font-family: 'graphik-medium'
                                    width: 50px
                                    height: 50px
                                    &.minus, &.plus
                                        background: $pink
                                        color: white
                                        cursor: pointer
                .add-basket
                    width: 100%
                    height: 50px
                    background: $pink
                    color: white
                    font-family: 'graphik-light'
                    display: flex
                    justify-content: center
                    align-items: center
                    position: absolute
                    bottom: 0px
                    font-size: 20px
                    cursor: pointer
                    transition: 0.4s
                    @include mobile
                        position: relative
                        margin-top: 30px
                    &:hover
                        font-size: 24px
    










