<div class="basket-item">
    <div class="container">
        <div class="img-cont">
            <img [src]="imgHost + basketEl.phone.image">
        </div>
        <div class="info-cont">
            <div class="name">
                {{ basketEl.phone.name }}
            </div>
            <div class="date">
                <span>Дата добавления в корзину:</span> {{ basketEl.created_at | localizedDate }}
            </div>  

            <div class="bottom-line">
                <div class="counter">
                    <div class="el minus">
                        -
                    </div>
                    <div class="el count">
                        {{ basketEl.count }}
                    </div>
                    <div class="el plus">
                        +
                    </div>
                </div>
                <div class="destroy-butt">
                    Удалить из корзины
                </div>
            </div>      
        </div>
        <div class="like">
            <like [phone]="basketEl.phone"></like>
        </div>
    </div>
</div>